<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--关联查询所有订单信息，及其用户信息和所包含商品信息-->
    <!--查询所有用户信息-->
<mapper namespace="com.itheima.mapper.UserMapper">
    <resultMap id="UserMap" type="User">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="birthday" property="birthday"/>
        <result column="sex" property="sex"/>
        <result column="address" property="address"/>
        <collection property="items" ofType="Items" select="com.itheima.mapper.ItemsMapper.findById" column="id"/>
    </resultMap>
<select id="findByUid" parameterType="int" resultMap="UserMap">
    SELECT * FROM `user` WHERE id=#{id}
</select>
</mapper>