<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://code.alibabatech.com/schema/dubbo
       http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
    <!--1、配置应用名称：一般就是工程名称，要求唯一-->
    <dubbo:application name="dubbo01_Consumer"/>
    <!--配置注册中心-->
    <dubbo:registry address="zookeeper://localhost2181"/>
    <!--开启注解扫描-->
    <dubbo:annotation package="com.itheima.controller"/>
</beans>