<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE com.mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-com.mapper.dtd">
<!--映射配置文件：配置statement对象-->
<com.mapper namespace="com.mapper.UserMapper">
    <select id="findAll" resultType="User">
          SELECT * FROM user
    </select>
</com.mapper>